body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: sans-serif;
  background-color: #181a1b;
  color:#ffffff;
}

.topnav {
  background-color: lightgrey;
  overflow: hidden;
}

.topnav a {
  width: 50px;
  height: 50px;
  float: left;
  color: white !important;
  border: solid black 1px;
  text-align: center;
  padding: 50px 50px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: purple;
  color: black;
}

.topnav a.active {
  background-color: orangered;
  color: white;
}

.sub-topnav {
  background-color: darkgrey;
  overflow: hidden;
  margin: 50px 0px;
}

.sub-topnav a {
  float: left;
  background-color: #3b3a38;
  color: white !important;
  border: solid black 1px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
}

.sub-topnav a:hover {
  background-color: lightgrey;
  color: white;
}

.sub-topnav a.active {
  background-color: grey;
  color: black !important;
}

hr {
  margin: 2rem;  
}

p {
  line-height: 1.4;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: brown;
  background: yellow;
}

 a:visited {
  color: yellow;
  background: brown;
}

a:focus {

  background: purple;
}

 a:hover {
   
  background: turquoise;
}

a:active {
  background: blue;
  color: green;
}

a#new-link {
  color: white !important;
}

a:hover#new-link {
  color: magenta !important;
}

a:active#new-link {
  color: teal !important;
  background: gray !important;
}

.fancy-underline {
  color: white !important;
  background: none !important;
  border-bottom: 2px solid lightblue;
}

.fancy-underline:hover, .fancy-underline:active, .fancy-underline:visited {
  opacity: 70%;
  border-bottom: 3px solid coral;
}

#soda {
width: 450px;
height: 450px;
}